<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>OnlineShops</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- 编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
    <filter>
		<filter-name>adminPrivilegeFilter</filter-name>
		<filter-class>filter.AdminPrivilegeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adminPrivilegeFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>

	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>client.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddProductServlet</servlet-name>
		<servlet-class>manager.AddProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddProductServlet</servlet-name>
		<url-pattern>/addProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListProductServlet</servlet-name>
		<servlet-class>manager.ListProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListProductServlet</servlet-name>
		<url-pattern>/listProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowProductByPageServlet</servlet-name>
		<servlet-class>client.ShowProductByPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowProductByPageServlet</servlet-name>
		<url-pattern>/showProductByPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindProductByIdServlet</servlet-name>
		<servlet-class>client.FindProductByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindProductByIdServlet</servlet-name>
		<url-pattern>/findProductById</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShowUserProductByPageServlet</servlet-name>
		<servlet-class>client.ShowUserProductByPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowUserProductByPageServlet</servlet-name>
		<url-pattern>/showUserProductByPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VisitorFindProductByIdServlet</servlet-name>
		<servlet-class>client.VisitorFindProductByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisitorFindProductByIdServlet</servlet-name>
		<url-pattern>/visitorFindProductById</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddCartServlet</servlet-name>
		<servlet-class>client.AddCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCartServlet</servlet-name>
		<url-pattern>/addCart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangeCartServlet</servlet-name>
		<servlet-class>client.ChangeCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeCartServlet</servlet-name>
		<url-pattern>/changeCart</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>client.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateOrderServlet</servlet-name>
		<servlet-class>client.CreateOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateOrderServlet</servlet-name>
		<url-pattern>/createOrder</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindOrderByUserServlet</servlet-name>
		<servlet-class>client.FindOrderByUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindOrderByUserServlet</servlet-name>
		<url-pattern>/findOrderByUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindPaidOrderByUserServlet</servlet-name>
		<servlet-class>client.FindPaidOrderByUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindPaidOrderByUserServlet</servlet-name>
		<url-pattern>/findPaidOrderByUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindOrderByIdServlet</servlet-name>
		<servlet-class>client.FindOrderByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindOrderByIdServlet</servlet-name>
		<url-pattern>/findOrderById</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindOrdersServlet</servlet-name>
		<servlet-class>manager.FindOrdersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindOrdersServlet</servlet-name>
		<url-pattern>/findOrders</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OnLinePayServlet</servlet-name>
		<servlet-class>client.OnLinePayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OnLinePayServlet</servlet-name>
		<url-pattern>/onlinepay</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PayServlet</servlet-name>
		<servlet-class>client.PayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PayServlet</servlet-name>
		<url-pattern>/pay</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CallBackServlet</servlet-name>
		<servlet-class>client.CallBackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CallBackServlet</servlet-name>
		<url-pattern>/callback</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangeOrderStateServlet</servlet-name>
		<servlet-class>client.ChangeOrderStateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeOrderStateServlet</servlet-name>
		<url-pattern>/orderstate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DownloadServlet</servlet-name>
		<servlet-class>manager.DownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadServlet</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindProductByManyConditionServlet</servlet-name>
		<servlet-class>manager.FindProductByManyConditionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindProductByManyConditionServlet</servlet-name>
		<url-pattern>/findProductByManyCondition</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditProductServlet</servlet-name>
		<servlet-class>manager.EditProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProductServlet</servlet-name>
		<url-pattern>/editProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteProductServlet</servlet-name>
		<servlet-class>manager.DeleteProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteProductServlet</servlet-name>
		<url-pattern>/deleteProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindOrderByManyConditionServlet</servlet-name>
		<servlet-class>manager.FindOrderByManyConditionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindOrderByManyConditionServlet</servlet-name>
		<url-pattern>/findOrderByManyCondition</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DelOrderByIdServlet</servlet-name>
		<servlet-class>client.DelOrderByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DelOrderByIdServlet</servlet-name>
		<url-pattern>/delOrderById</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>imageCode</servlet-name>
		<servlet-class>utils.CheckImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>imageCode</servlet-name>
		<url-pattern>/imageCode</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>client.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ActiveUserServlet</servlet-name>
		<servlet-class>client.ActiveUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActiveUserServlet</servlet-name>
		<url-pattern>/activeUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MyAccountServlet</servlet-name>
		<servlet-class>client.MyAccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyAccountServlet</servlet-name>
		<url-pattern>/myAccount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ListNoticeServlet</servlet-name>
		<servlet-class>manager.ListNoticeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListNoticeServlet</servlet-name>
		<url-pattern>/manager/ListNoticeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>AddNoticeServlet</servlet-name>
		<servlet-class>manager.AddNoticeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNoticeServlet</servlet-name>
		<url-pattern>/manager/AddNoticeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateNoticeServlet</servlet-name>
		<servlet-class>manager.UpdateNoticeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateNoticeServlet</servlet-name>
		<url-pattern>/manager/UpdateNoticeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindByIdNoticeServlet</servlet-name>
		<servlet-class>manager.FindByIdNoticeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindByIdNoticeServlet</servlet-name>
		<url-pattern>/manager/FindByIdNoticeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditNoticeServlet</servlet-name>
		<servlet-class>manager.EditNoticeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditNoticeServlet</servlet-name>
		<url-pattern>/manager/EditNoticeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteNoticeServlet</servlet-name>
		<servlet-class>manager.DeleteNoticeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteNoticeServlet</servlet-name>
		<url-pattern>/manager/DeleteNoticeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MenuSearchServlet</servlet-name>
		<servlet-class>client.MenuSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MenuSearchServlet</servlet-name>
		<url-pattern>/MenuSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>UserMenuSearchServlet</servlet-name>
	    <servlet-class>client.UserMenuSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>UserMenuSearchServlet</servlet-name>
	    <url-pattern>/UserMenuSearchServlet</url-pattern>
	</servlet-mapping>
	    
	
	<servlet>
		<servlet-name>ShowIndexServlet</servlet-name>
		<servlet-class>client.ShowIndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowIndexServlet</servlet-name>
		<url-pattern>/ShowIndexServlet</url-pattern>
	</servlet-mapping>
	
</web-app>